<div class ="component-content">
  <span class ='component-title'>[{{title}}]</span>
  <a routerLink='/user/list' class="btn btn-primary">back to the list</a>
  <div class="usr-create" *ngIf='user'>
    <div style="margin-left: 5%" *ngFor='let key of attributeArray' class="form-group row">
      {{key}}
      <input *ngIf="attributeTypeHash[key] == 'string'" [(ngModel)] ="user[key]" type="text">
      <input *ngIf="attributeTypeHash[key] == 'boolean'" [(ngModel)] ="user[key]" type="checkbox" name="true" [checked]='true'>
    </div>
    <button (click)="change()" class="btn btn-primary">create</button>
  </div>
</div>