<div class ="component-content">
  <div *ngIf='product'>
    <span class ='component-title'>[{{title}}]</span>
    <span *ngIf='product'>{{product.Name}}</span>
    <a routerLink='/product/edit/{{product.Id}}' class="btn btn-primary">edit</a>
    <div *ngFor='let key of attributeArray'>
      <span>{{key}}: {{product[key]}}</span>
    </div>
    <div>
      <span>
        Vendor: {{product.Vendor.Name}}
      </span>
    </div>
    <button (click)="remove()" class="btn btn-danger">remove</button>
  </div>
</div>