<div class ="component-content">
  <span class ='component-title'>[{{title}}]</span>
  <a routerLink='/purchaserequest/list' class="btn btn-primary">back to the list</a>
  <div class="usr-create" *ngIf='purchaserequest'>
    <div style="margin-left: 5%" *ngFor='let key of attributeArray' class="form-group row">
      <span *ngIf="key == 'DateNeeded';else not_this_element">
        <label>DateNeeded</label>
        <input [(ngModel)] ="purchaserequest[key]" type="date"/>
      </span>
      <ng-template #not_this_element>
        {{key}}
        <input *ngIf="attributeTypeHash[key] != 'boolean'" [(ngModel)] ="purchaserequest[key]" type="text">
        <input *ngIf="attributeTypeHash[key] == 'boolean'" [(ngModel)] ="purchaserequest[key]" type="checkbox" name="true" [checked]='true'>
      </ng-template>
    </div>
    <button (click)="create()" class="btn btn-primary">create</button>
  </div>
</div>