<div class ="component-content">
  <span class ='component-title'>[{{title}}]</span>
  <a routerLink='/vendor/list' class="btn btn-primary">back to the list</a>
  <div class="vendor-create" *ngIf='vendor'>
    <div style="margin-left: 5%" *ngFor='let key of attributeArray' class="form-group row">
      {{key}}
      <input *ngIf="attributeTypeHash[key] == 'string'" [(ngModel)] ="vendor[key]" type="text">
      <input *ngIf="attributeTypeHash[key] == 'boolean'" [(ngModel)] ="vendor[key]" type="checkbox" name="true" [checked]='true'>
    </div>
    <button (click)="update()" class="btn btn-primary">update</button>
  </div>
</div>