<div class ="component-content">
  <div class =''>
    <div class ='lefthalf'>
      <span class ='component-title'>[{{title}}]</span>
      <span><a routerLink ='/{{objName}}/create'><img id ='createnew' width = '20' height = '20' src= '../../../assets/add-new.png' title ="Add New"></a></span>
    </div>

  <div class='righthalf input-group'>
    <span class =''>Sort: </span>
    <select [(ngModel)]= 'selectedSortKey' class ='custom-select text-sm-left'>
      <option *ngFor='let sortKey of sortKeys' value = '{{sortKey}}'>{{sortKey}}</option>
    </select>
    <span>Order:</span>
      <select [(ngModel)] = 'sortDesc' class ='custom-select text-sm-left'>
        <option value = 'asc'>Asc</option>
        <option value='desc'>Desc</option>
      </select>
    </div>
  </div>
<p *ngIf= '!objs'>loading ... </p>
<table class = "table table-sm" *ngIf='objs'>

<th *ngFor='let k of attributeArray'>
  <tr>
    <td>{{k}}</td>
  </tr>
</th>
    <tr *ngFor='let obj of objs | sort:selectedSortKey:sortDesc'>
    <tr id="purchaserequest{{obj.Id}}" *ngFor='let obj of objs'>
    <td *ngFor='let k of attributeArray'>
      <span *ngIf="attributeTypeHash[k] == 'object';else not_Object">{{obj[k].Name}}</span>
      <ng-template #not_Object>{{obj[k]}}</ng-template>
    </td>
    <td class = 'actions'>
      <a routerLink = '/{{objName}}/detail/{{obj.Id}}'><img src = '../../../assets/detail.png' title = 'Detail'></a>
      <a routerLink = '/{{objName}}/edit/{{obj.Id}}'><img src = '../../../assets/edit.png' title = 'Edit'></a>
      <a routerLink = '/purchaserequestlineitem/listspecific/{{obj.Id}}'><img src = '../../../assets/list.png' title = 'List Items'></a>
      <!-- <a href="#" id="purchaserequestlist{{obj.Id}}" (click)="appendLineItems($event)"><img src = '../../../assets/list.png' name="purchaserequestlist{{obj.Id}}" title='List'></a> -->
    </td>
  </tr>
</table>